.footer {
  background-color: #000000;
  height: 53.9rem;
  color: #fff;
  padding: 5.6rem 3.3rem;
  text-align: center;

  @include tablet-portrait {
    display: flex;
    justify-content: space-between;
    height: 28.4rem;
    text-align: unset;
  }

  &__right-flex-wrapper {
    @include tablet-portrait {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
    }

    @include desktop {
      margin-right: 17.1rem;
    }
  }

  &__left-flex-wrapper {
    @include desktop {
      margin-left: 17.1rem;
    }
  }

  &__logo {
    margin-bottom: 3.2rem;
  }

  &__social-icon-wrapper {
    display: flex;
    // justify-content: space-between;
    justify-content: center;
    width: 50%;
    margin: 0 auto 5.5rem;

    @include tablet-portrait {
      margin: 0;
    }
  }

  &__social-icon {
    margin: 0 1rem;
  }

  &__pages-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8rem 0 6rem;

    @include tablet-portrait {
      flex-direction: row;
    }
  }

  &__page-link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.6rem;
    letter-spacing: 2px;
    margin-bottom: 1.9rem;

    @include tablet-portrait {
      margin-right: 1rem;
    }

    @include desktop {
      font-size: 2rem;
      margin-right: 2rem;
    }
  }

  &__cta {
    background-color: transparent;
    text-decoration: none;
    border: none;
    color: #fff;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 auto 3.4rem;

    @include tablet-portrait {
      margin: 0;
    }

    @include desktop {
      font-size: 1.5rem;
    }
  }

  &__arrow-icon {
    margin-left: 2.2rem;
  }

  &__copyright {
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 400;
    line-height: 20px;

    @include desktop {
      font-size: 1.75rem;
    }
  }
}
