@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
.header__logo {
  padding: 3.5rem 1.5rem;
}

.header__nav-item {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2.5px;
  text-align: center;
  margin-bottom: 2rem;
}

.header__hamburger-btn {
  display: block;
  position: absolute;
  top: 5%;
  right: 5%;
  width: 4rem;
  height: 3rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  background-color: transparent;
  z-index: 10;
}

.header__hamburger-btn:focus {
  outline: none;
}

.header__hamburger-btn--active .header__hamburger-line-1 {
  -webkit-transform: translateY(-10px) translateX(0) rotate(45deg);
          transform: translateY(-10px) translateX(0) rotate(45deg);
}

.header__hamburger-btn--active .header__hamburger-line-2 {
  -webkit-transform: translateY(1px) translateX(0) rotate(-45deg);
          transform: translateY(1px) translateX(0) rotate(-45deg);
}

.header__hamburger-line-1, .header__hamburger-line-2 {
  background: #000000;
  width: 30px;
  height: 0.2rem;
  position: absolute;
  left: 65%;
  margin-left: -2rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__hamburger-line-1 {
  top: 70%;
}

.header__hamburger-line-2 {
  top: 30%;
  height: 0.15rem;
}

.header__main-nav {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__main-nav--responsive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  padding-top: 6rem;
  top: 0;
  left: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header__responsive-nav-cta {
  background-color: #000000;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 700;
  padding: 1.4rem 6.8rem;
  margin-top: 4.1rem;
}

.home-section {
  overflow: hidden;
  padding: 7.2rem 3.3rem;
}

.home-section--black {
  background-color: #000000;
  color: #fff;
}

.home-section__content-header {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4rem;
  letter-spacing: 3.3px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.home-section__content-info {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  text-align: left;
  margin-bottom: 2.3rem;
}

.home-section__cta {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.6rem;
  letter-spacing: 2px;
  text-align: left;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-section__cta--white {
  color: #fff;
}

.home-section__cta-arrow {
  margin-left: 1.8rem;
}

.story-card__card-wrapper {
  position: relative;
}

.story-card__card-img-wrapper {
  position: relative;
  height: 50%;
}

.story-card__card-bg-img {
  display: block;
}

.story-card__img-overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}

.story-card__card-content-wrapper {
  position: absolute;
  bottom: 5rem;
  left: 4rem;
  color: #fff;
  width: 80%;
  z-index: 2;
}

.story-card__card-title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.5rem;
}

.story-card__card-author {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.7rem;
}

.story-card__read-cta-wrapper {
  border-top: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2rem;
  margin-top: 2rem;
}

.story-card__read-cta-text {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.6rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  font-size: 10px;
}
/*# sourceMappingURL=main.css.map */